
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li style="height: 400px"><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a><br><img style="width:100%" ng-src="{{thing.image}}"><br>{{thing.info}}<br>{{thing.age}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></li>
      </ul>
    </div>
  </div>
<hr>
    <h3>Syncs in realtime across clients</h3>
  <form class="thing-form form-inline">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Add a new Name." ng-model="newThing.name">
      <input type="text" class="form-control" placeholder="Add a new Info." ng-model="newThing.info">
      <input type="text" class="form-control" placeholder="Add a new Age." ng-model="newThing.age">
      <input type="text" class="form-control" placeholder="Add a new ImageUrl." ng-model="newThing.image">
      <button type="submit" class="btn btn-primary" ng-click="addThing(newThing)">Add New</button>
    </div>
  </form>


<!------------------------------------------------------------------------------------------------------------------------------>
<hr>
<h3>Form input color</h3>
<div>
<form name="myForm">
    <select ng-options="color for color in ['tomato', 'navy', 'teal']" ng-model="color1">
        <option value="" selected>--Please select your color--</option>
    </select>
</form>
<div style="width: 1174px; height: 81px; background: {{color1}}" > </div>
<!------------------------------------------------------------------------------------------------------------------------------>
<hr>
<h3>Form input name</h3>
<div>
<label>Name:</label>
<input type="text" ng-model="yourName" placeholder="Enter a name here">
<h1>Hello {{yourName}}!</h1>
</div>
<!------------------------------------------------------------------------------------------------------------------------------
<hr>
    <div>
            <input type="file" nv-file-select uploader="uploader"/><br/>
            <ul>
                <li ng-repeat="item in uploader.queue">
                    Name: <span ng-bind="item.file.name"></span><br/>
                    <button ng-click="item.upload()">upload</button>
                </li>
            </ul>
    </div>
<!------------------------------------------------------------------------------------------------------------------------------>
<hr>

</div>